<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style type="text/css">
body
{
	margin:0px;
	padding:0px;
        background-image:url(resources/images/abg12.jpg);
	background-repeat:no-repeat;
	background-size:100% 700px;
}
.container
{
position: relative;
top:100px;
}
</style>
</head>
<body>
<div class="container" ng-controller="FriendController as ctrl" ng-init="ctrl.getMyAcceptedFriends()">
<p>
<p>
<p>
<p>
<p>
<p>
<div class="form-group"></div>

view Friends

<input type="text" ng-model="sear_text">

<div ng-repeat="friend in ctrl.myfriends | filter:sear_text">

<fieldset>
<legend></legend>
<p>
<a href="#" ng-click="ctrl.getMyAcceptedFriends">Get Friends Details</a>
&nbsp;&nbsp;&nbsp;
</p>
<p>ID:{{friend}}</p>
<p>ID:{{friend.isOnline}}</p>
 <a href="#/chat">Send Message</a>
</fieldset>
</div></div>
</body>
</html>