<head>
<style type="text/css">
body
{
	margin:0px;
	padding:0px;
        background-image:url(resources/images/abg12.jpg);
	background-repeat:no-repeat;
	background-size:100% 700px;
}
.container
{
position: relative;
top:100px;
}
</style>
</head>
<div class="container" ng-controller="FriendController as ctrl">

     <p>
     <p>
     <p>
     <p>
     
     <p>
     <p>
     <p>
     <p>
     
     <div class="form-group has-feedback"></div>
     
     Search for Friend
     
    <p><input type="text" ng-model="sear_text"></p>
    
    
      <div ng-repeat="friend in ctrl.friends | filter: sear_text">
      <br>
     
     <!-- <div class="container">
        <a ng-click="ctrl.getMyAcceptedFriends()">Friends Accepted</a>
      
     
		<div class="form-group">
		Name : <label> {{getMyAcceptedFriend.friendID}} </label>&nbsp; &nbsp; &nbsp;
		Online : <label> {{getMyAcceptedFriend.isOnline}} ,</label><br>
		<a href="#/chat">Send Message</a>
       </div></div> -->
       
           <fieldset >
               <legend></legend>
               
                 <p>Name: {{friend.userID}} &nbsp; &nbsp; &nbsp; Status: {{friend.status}} &nbsp; &nbsp; &nbsp;
                 <button ng-show="friend.status=='N'" ng-hide="friend.status=='A'" type="button" 
                            ng-click="ctrl.friendaccept(friend)" class="btn btn-warning btn-sm">ACCEPT</button>
                  <button ng-show="friend.status=='N'" ng-hide="friend.status=='A'" type="button" 
                            ng-click="ctrl.friendreject(friend)" class="btn btn btn-danger btn-sm">REJECT</button>
                 </p>
                <a href="#/chat">Send Message</a>
            </fieldset>
          </div>     
       </div><br><br><br><br><br><br><br><br><br>  
       </div>        